<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <title>Manage System</title>
</head>
<body>
    <nav>
        <a href="/"><i class="far fa-calendar-alt"></i>Today</a>
        <a href="/work"><i class="far fa-clone"></i>Work</a>
    </nav>
    